.has-error .input-group-addon {
  color: #ffffff;
  border-color: #e74c3c;
  background-color: #e74c3c;
}

.navbar-static-top {
  margin-bottom: 20px;
}

html {
  position: relative;
  min-height: 100%;
}

/* TODO: Use LESS or SASS and put the footer height in a variable. */
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 60px;
  background-color: #efefef;
}

.nav > li > a {
  color: #787878;
}
