<link href="../../Content/app.css" rel="stylesheet" type="text/css" /><!-- -->
<link href="../../Content/bootstrap.css" rel="stylesheet" type="text/css" /><!-- -->
<link href="../../Content/bootstrap.min.css" rel="stylesheet" type="text/css" /><!-- -->
<link href="../../Content/Site.css" rel="stylesheet" type="text/css" /><!-- -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../../Model/Task.js"></script>
<script src="../../Model/Message.js"></script>
<script src="../../Model/CalendarEvent.js"></script>
<script src="../Scripts/Communication/Communication.js"></script>
<link href='../../fullcalendar-1.6.4/fullcalendar/fullcalendar.css' rel='stylesheet' />
<link href='../../fullcalendar-1.6.4/fullcalendar/fullcalendar.print.css' rel='stylesheet' media='print' />
<script src='../../fullcalendar-1.6.4/lib/jquery.min.js'></script>
<script src='../../fullcalendar-1.6.4/lib/jquery-ui.custom.min.js'></script>
<script src='../../fullcalendar-1.6.4/fullcalendar/fullcalendar.min.js'></script>
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="topContainer">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/Home/Show">Shift Link</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/Home/Show">Home</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
  <h1>Welcome!</h1>

  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#message-tab" data-toggle="tab">
        <i class="fa fa-envelope"></i>
        &nbsp;&nbsp;MSG
      </a>
    </li>
    <li>
      <a href="#calendar-tab" data-toggle="tab">
        <i class="fa fa-calendar"></i>
        &nbsp;&nbsp;Calendar
      </a>
    </li>
    <li>
      <a href="#task-tab" data-toggle="tab">
        <i class="fa fa-check-square-o"></i>
        &nbsp;&nbsp;Tasks
      </a>
    </li>
  </ul>
  <div class="tab-content stacked-content">

    <div class="tab-pane fade active in" id="message-tab">
      <h3>Messages</h3>
      <hr><br>

     <div class="container" id="container" align="left">
        <div class="col-md-9">
          <label for="NewMessage">New Message</label>
          <div>
              <input id="NewMessage" type="text">
          </div>
          <br>
          <button id="submitMessage" onclick="submitMessage()" class="btn btn btn-primary">
            <script>
              function submitMessage() {
                var com = new Communication();
                var message = new Message();
                console.log($('#NewMessage').val());

                message.message = $('#NewMessage').val();
                console.log(message);
                com.doPost("/create/message", JSON.stringify(message),"Post",function(success){
                    console.log("SUCCESS");
                });
                console.log('done');
              }
            </script>
              Create Message
          </button>
        </div>
      </div>
      <br><br>

      <div class="table-responsive">
        <table class="table table-bordered table-highlight table-hover" id="messagetable">
          <thead>
            <tr>
              <th class="col-md-3">From</th>
              <th>Message</th>
            </tr>
          </thead>

          <tbody></tbody>

          <script type="text/javascript">
            var com = new Communication();
            //var messages = JSON.parse(com.doGet("/get/messages"));
            var tbody = document.getElementById('messagetable').getElementsByTagName('tbody')[0];
            //foreach(Task message in mesaages){
              var tr=document.createElement('tr');



              tbody.appendChild(tr);
            //}
          </script>

        </table>
      </div>
  	</div>

  	<div class="tab-pane fade active" id="calendar-tab">
      <h3>Calendar</h3>
      <hr><br>

      <div id='calendar'></div>
      <script>
      var com = new Communication();
      console.log("CALLING");
       com.doGetSynch("/get/calendar",function(ret){

		$(document).ready(function() {
      
     
        console.log(JSON.parse(ret));
      
		
			var date = new Date();
			var d = date.getDate();
			var m = date.getMonth();
			var y = date.getFullYear();
			
			var calendar = $('#calendar').fullCalendar({
				header: {
					left: 'prev,next today',
					center: 'title',
					right: 'month,agendaWeek,agendaDay'
				},
				selectable: true,
				selectHelper: true,
				select: function(start, end, allDay) {
					var title = prompt('Event Title:');
					if (title) {
						calendar.fullCalendar('renderEvent',
							{
								title: title,
								start: start,
								end: end,
								allDay: allDay
							},
							true // make the event "stick"
						);
					}
					calendar.fullCalendar('unselect');
          var calEvent = new CalendarEvent();
          calEvent.title = title;
          calEvent.start = start;
          calEvent.end = end;
          calEvent.allDay = allDay;


          com.doPost("/create/event", JSON.stringify(calEvent),"Post",false,function(success){
            console.log("SUCCESS");
            return false;
          });
				},
				editable: true,
				events: JSON.parse(ret)
        //events: [{title:"All Day Event",start:"1922-04-01T06:00:00.000Z"}]
			});
      });
			
		});

	</script>
	<style>

		body {
			margin-top: 40px;
			text-align: center;
			font-size: 14px;
			font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
			}

		#calendar {
			width: 900px;
			margin: 0 auto;
			}

	</style>

	
  	</div>

  	<div class="tab-pane" id="task-tab" sytle="display:table" >
      <h3>Tasks</h3>
      <hr><br>
      <div class="container" id="container" align="left">
	    <div class="col-md-9">
	      <label for="NewTask">New Task</label>
	      <div>
	          <input id="NewTask" type="text">
	      </div>
	      <br>
	      <button id="submitTask" onclick="submitTask()" class="btn btn btn-primary">
	        <script>
	          function submitTask() {
	            var com = new Communication();
	            var task = new Task();
	            console.log($('#NewTask').val());

	            task.details = $('#NewTask').val();
	            task.completed = false;
	            console.log(task);
	            com.doPost("/create/task", JSON.stringify(task),"Post",function(success){
	                console.log("SUCCESS");
	            });
	            console.log('done');
	          }
	        </script>
	          Create Task
	      </button>
	    </div>
	  </div>
  	 <br><br>
        <table class="table table-bordered table-highlight table-hover" id="tasktable">
          <thead>
            <tr>
              <th>Details</th>
              <th>Issuer</th>
              <th>Status</th>
            </tr>
          </thead>

          <tbody></tbody>

          <script type="text/javascript">
            var com = new Communication();
            com.doGetSynch("/get/tasks",function(tasks){
            console.log("IN DOC");
            console.log(tasks);
            //tasks = [];
            if(tasks != null){
              tasks = JSON.parse(tasks);

              console.log(tasks);
              console.log(tasks.length);
              var tbody = document.getElementById('tasktable').getElementsByTagName('tbody')[0];
              console.log(tbody);
              for(var i = 0; i < tasks.length; i++)
              {
                console.log(i);
                console.log("IN");
                var task = tasks[i];
                var tr=document.createElement('tr');

                var tdDetails=document.createElement('td');
                tdDetails.appendChild(document.createTextNode(task.details))
                tr.appendChild(tdDetails)

                var tdIssuer=document.createElement('td');
                tdIssuer.appendChild(document.createTextNode(task.issuer));
                tr.appendChild(tdIssuer);

                var tdStatus=document.createElement('td');
                var checkbox = document.createElement("INPUT");
                checkbox.setAttribute("type", "checkbox");

                checkbox.setAttribute("class", "checkboxs");
                checkbox.setAttribute("ids", i);
                if(task.completed){
                  checkbox.setAttribute("checked", true);
                }
                tdStatus.appendChild(checkbox);
                tdStatus.appendChild(document.createTextNode("  Complete"))
                tr.appendChild(tdStatus)

                tbody.appendChild(tr);
              }

              var checks = $('.checkboxs');
              console.log(checks);
              for(var i = 0; i < checks.length; i++){
                console.log(checks[i]);
                checks[i].onchange = function(){
                  console.log("CHECKED");
                  //console.log(tasks);
                  console.log($(this).attr('ids'));

                   com.doPost("/delete/task", JSON.stringify(tasks[$(this).attr('ids')]))
                };
              }

            }
          });
          </script>

        </table>
   
    </div>
 
 </div>
</div>



