<link href="../../Content/app.css" rel="stylesheet" type="text/css" /><!-- -->
<link href="../../Content/bootstrap.css" rel="stylesheet" type="text/css" /><!-- -->
<link href="../../Content/bootstrap.min.css" rel="stylesheet" type="text/css" /><!-- -->
<link href="../../Content/Site.css" rel="stylesheet" type="text/css" /><!-- -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../../Model/Task.js"></script>
<script src="../../Model/Message.js"></script>
<script src="../Scripts/Communication/Communication.js"></script>
<link href='../../fullcalendar-1.6.4/fullcalendar/fullcalendar.css' rel='stylesheet' />
<link href='../../fullcalendar-1.6.4/fullcalendar/fullcalendar.print.css' rel='stylesheet' media='print' />
<script src='../../fullcalendar-1.6.4/lib/jquery.min.js'></script>
<script src='../../fullcalendar-1.6.4/lib/jquery-ui.custom.min.js'></script>
<script src='../../fullcalendar-1.6.4/fullcalendar/fullcalendar.min.js'></script>
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/Home/Show">Shift Link</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/Home/Show">Home</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
  <h1>Welcome!</h1>

  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#message-tab" data-toggle="tab">
        <i class="fa fa-envelope"></i>
        &nbsp;&nbsp;MSG
      </a>
    </li>
    <li>
      <a href="#calendar-tab" data-toggle="tab">
        <i class="fa fa-calendar"></i>
        &nbsp;&nbsp;Calendar
      </a>
    </li>
    <li>
      <a href="#task-tab" data-toggle="tab">
        <i class="fa fa-check-square-o"></i>
        &nbsp;&nbsp;Tasks
      </a>
    </li>
  </ul>
  <div class="tab-content stacked-content">

    <div class="tab-pane fade active in" id="message-tab">
      <h3>Messages</h3>
      <hr><br>
      <body>hello</body>
    </div>

    <div class="tab-pane fade" id="calendar-tab">
      <h3>Calendar</h3>
      <hr><br>
    </div>

    <div class="tab-pane fade" id="task-tab">
      <h3 class="">Tasks</h3>
      <hr><br>
      <body>helloaa</body>
    </div>

  </div>
</div>

<footer class="text-center">&copy; 2014 - Shift Link, Inc.</footer>
