<link href="../../Content/app.css" rel="stylesheet" type="text/css" /><!-- -->
<link href="../../Content/bootstrap.css" rel="stylesheet" type="text/css" /><!-- -->
<link href="../../Content/bootstrap.min.css" rel="stylesheet" type="text/css" /><!-- -->
<link href="../../Content/Site.css" rel="stylesheet" type="text/css" /><!-- -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" type="text/javascript"></script>
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">


<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/Home/Show">Shift Link</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/Home/Show">Home</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
  <h1>Welcome!</h1>

  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#message-tab" data-toggle="tab">
        <i class="fa fa-envelope"></i>
        &nbsp;&nbsp;MSG
      </a>
    </li>
    <li>
      <a href="#calendar-tab" data-toggle="tab">
        <i class="fa fa-calendar"></i>
        &nbsp;&nbsp;Calendar
      </a>
    </li>
    <li>
      <a href="#task-tab" data-toggle="tab">
        <i class="fa fa-check-square-o"></i>
        &nbsp;&nbsp;Tasks
      </a>
    </li>
  </ul>
  <div class="tab-content stacked-content">

    <div class="tab-pane fade active in" id="message-tab">
      <h3>Messages</h3>
      <hr><br>
    </div>

    <div class="tab-pane fade" id="calendar-tab">
      <h3>Calendar</h3>
      <hr><br>
    </div>

    <div class="tab-pane fade" id="task-tab">
      <h3 class="">Tasks</h3>
      <hr><br>


<div class="table-responsive" id="tasktable">
  <table class="table table-bordered table-highlight table-hover">
    <thead>
      <tr>
        <th>Details</th>
        <th>Issuer</th>
        <th>Status</th>
      </tr>
    </thead>

    <script type="text/javascript">
      var taskTable = $('tasktable');
      var tbdy=document.createElement('tbody');
      foreach(Task task in tasks){
        var tr=document.createElement('tr');

        var tdDetails=document.createElement('td');
        td.appendChild(document.createTextNode(task.Details))
        tr.appendChild(td)

        var tdIssuer=document.createElement('td');
        td.appendChild(document.createTextNode(task.Issuer))
        tr.appendChild(td)

        var tdStatus=document.createElement('td');
        td.appendChild(document.createTextNode(task.Status))
        tr.appendChild(td)

        tbdy.appendChild(tr);
      }
      taskTable.appendChild(tbdy);
    </script>

    <tbody>
      @foreach (var tenant in Model)
      {
        <tr data-tenantid="@tenant.Id">
          <td><a href="@Url.Action(MVC.Tenant.Show(tenant.Id))">@tenant.Name</a></td>
          <td>@Html.LabelForTenantType(tenant.GetType())</td>
          <td>@Html.LabelForTenantStatus(tenant.Status)</td>
          <td>
            <a href="@Url.Action(MVC.Tenant.Show(tenant.Id))" class="btn btn-xs btn-secondary" title="Edit Customer Info">
              <i class="fa fa-pencil"></i>
            </a>
            <a class="btn btn-xs btn-remove" style="float: right" data-id="@tenant.Id">
              <i class="fa fa-power-off"></i><!--maybe fa-retweet-->
            </a>
          </td>
        </tr>
      }
    </tbody>

  </table>
</div>
@section Scripts {
  @Html.RequireJsModule("app/tenant/List")
}


    </div>

  </div>
</div>

<footer class="text-center">&copy; 2014 - Shift Link, Inc.</footer>
