<link href="../../Content/app.css" rel="stylesheet" type="text/css" /><!-- -->
<link href="../../Content/bootstrap.css" rel="stylesheet" type="text/css" /><!-- -->
<link href="../../Content/bootstrap.min.css" rel="stylesheet" type="text/css" /><!-- -->
<link href="../../Content/Site.css" rel="stylesheet" type="text/css" /><!-- -->


<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/Home/Show">Shift Link</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/Home/Show">Home</a></li>
            </ul>
        </div>
    </div>
</div>
<h1>Welcome!</h1>

<ul class="nav nav-tabs">
  <li class="active">
    <a href="#mesage-tab" data-toggle="tab">
      <i class="fa fa-envelope"></i>
      &nbsp;&nbsp;MSG
    </a>
  </li>
  <li>
    <a href="#calendar-tab" data-toggle="tab">
      <i class="fa fa-calendar"></i>
      &nbsp;&nbsp;Calendar
    </a>
  </li>
  <li>
    <a href="#task-tab" data-toggle="tab">
      <i class="fa fa-check-square-o"></i>
      &nbsp;&nbsp;Tasks
    </a>
  </li>
</ul>
<div class="tab-content stacked-content">

  <div class="tab-pane fade in active" id="message-tab">
    <h3>Messages</h3>
    <hr><br>
  </div>

  <div class="tab-pane fade" id="calendar-tab">
    <h3>Calendar</h3>
    <hr><br>
  </div>

  <div class="tab-pane fade" id="task-tab">
    <h3 class="">Tasks</h3>
    <hr><br>
  </div>

</div>

<footer class="text-center">&copy; 2014 - Shift Link, Inc.</footer>

<script src="../Scripts/Employee/Show.js"></script>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">